<div class="rz-p-sm-12">
    <ElliciumAccordion Multiple="true">
        <Items>
            <ElliciumAccordionItem Text="Orders" Icon="account_balance_wallet">
                Details for Orders
            </ElliciumAccordionItem>
            <ElliciumAccordionItem Text="Employees" Icon="account_box">
                Details for Employees
            </ElliciumAccordionItem>
            <ElliciumAccordionItem Text="Customers" Icon="accessibility">
                Details for Customers
            </ElliciumAccordionItem>
        </Items>
    </ElliciumAccordion>
</div>