<div class="rz-m-12">
    <ElliciumBreadCrumb>
        <Template Context="item">
            <ElliciumBadge Text="@item.Text" IsPill="true" />
        </Template>
        <ChildContent>
            <ElliciumBreadCrumbItem Path="/" Text="Components" />
            <ElliciumBreadCrumbItem Path="/badge" Text="Badge" />
            <ElliciumBreadCrumbItem Icon="add" Text="Add" />
        </ChildContent>
    </ElliciumBreadCrumb>
</div>
