
<div class="rz-m-12">
    <ElliciumBreadCrumb>
        <ElliciumBreadCrumbItem Path="/" Text="Components" />
        <ElliciumBreadCrumbItem Path="/badge" Text="Badge" />
        <ElliciumBreadCrumbItem Icon="add" Text="Add" />
    </ElliciumBreadCrumb>
</div>