<div class="rz-p-12 rz-text-align-center">
    <ElliciumCheckBox TriState=true @bind-Value=@value Name="CheckBox3" />
    <ElliciumLabel Text="CheckBox" Component="CheckBox3" Style="margin-left: 8px; vertical-align: middle;" />
</div>

@code{
    bool? value;
}