@page "/column"

<ElliciumText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Column
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    The ElliciumColumn component is used within a <a href="/row">ElliciumRow</a> to create a structured grid layout. Without the <code>ElliciumRow</code> component, the <code>ElliciumColumn</code> would not be rendered correctly.
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    ElliciumColumns are positioned on a 12-column based responsive grid.
</ElliciumText>
<ElliciumRow class="rz-text-align-center rz-border-info-light" Gap="1rem">
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">1</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">2</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">3</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">4</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">5</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">6</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">7</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">8</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">9</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">10</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">11</ElliciumColumn>
    <ElliciumColumn class="rz-background-color-danger-lighter rz-color-on-danger-lighter rz-py-5">12</ElliciumColumn>
</ElliciumRow>

<ElliciumText Anchor="column#auto-layout-columns" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Auto-layout columns
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    If column <code>Size</code> is not specified, the column width is automatically calculated with respect to the remaining free space available.  
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnAutoLayout">
    <ColumnAutoLayout />
</ElliciumExample>

<ElliciumText Anchor="column#column-sizes" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Column sizes
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    When setting column <code>Size</code>, make sure that the total sum of all column sizes is not greater than 12. Otherwise, columns might wrap to a second row.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnSizes">
    <ColumnSizes />
</ElliciumExample>

<ElliciumText Anchor="column#responsive-column-sizes" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Responsive column sizes
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    Resize your browser window to see how the column adapts to the predefined breakpoint sizes. See <a href="/breakpoints">Breakpoints</a> to learn more.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnResponsiveSizes">
    <ColumnResponsiveSizes />
</ElliciumExample>

<ElliciumText Anchor="column#column-wrapping" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Column wrapping
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    4 ElliciumColumns with Size="6" render on two lines in a ElliciumRow. Use <code>RowGap</code> property to specify the vertical spacing between columns on two or more lines in a row.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnWrapping">
    <ColumnWrapping />
</ElliciumExample>

<ElliciumText Anchor="column#column-offset" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Column offset
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    The <code>Offset</code> property moves the column to the right following the grid column layout. E.g. <code>Offset="3"</code> offsets 3 columns to the right.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnOffset">
    <ColumnOffset />
</ElliciumExample>

<ElliciumText Anchor="column#column-responsive-offset" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Responsive offsetting
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    Resize your browser window to see how the column adapts to the predefined breakpoint sizes. See <a href="/breakpoints">Breakpoints</a> to learn more.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnResponsiveOffset">
    <ColumnResponsiveOffset />
</ElliciumExample>

<ElliciumText Anchor="column#column-order" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Column order
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    The <code>Order</code> property is used to reorder columns visually.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnOrder">
    <ColumnOrder />
</ElliciumExample>

<ElliciumText Anchor="column#column-responsive-order" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Responsive column ordering
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    You can reorder columns on different screen sizes. Resize your browser window to see how the columns reorder. See <a href="/breakpoints">Breakpoints</a> to learn more.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnResponsiveOrder">
    <ColumnResponsiveOrder />
</ElliciumExample>

<ElliciumText Anchor="column#nested-layouts" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Nested Layouts
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    You can reorder columns on different screen sizes. Resize your browser window to see how the columns reorder. See <a href="/breakpoints">Breakpoints</a> to learn more.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnNestedLayouts">
    <ColumnNestedLayouts />
</ElliciumExample>

<ElliciumText Anchor="column#gutters" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Gutters
</ElliciumText>
<ElliciumText TextStyle="TextStyle.Body1" class="rz-mb-8">
    By default, the spacing between columns is set to <code>1rem</code>, via the <code>--rz-gap</code> CSS variable. Spacing between coulmns can be controlled by setting the <code>Gap</code> property of the parent <code>ElliciumRow</code> component.
</ElliciumText>
<ElliciumExample ComponentName="Column" Example="ColumnGutters">
    <ColumnGutters />
</ElliciumExample>
