<div class="rz-p-12 rz-text-align-center">
    <ElliciumLabel Text="Select Date" Component="DatePickerFooterTemplate" Style="margin-right: 8px; vertical-align: middle;" />
    <ElliciumDatePicker @bind-Value=@value Name="DatePickerFooterTemplate">
        <FooterTemplate>
            <ElliciumButton Click=@(args => value = DateTime.Now) Text="Today" class="my-3 w-100" />
        </FooterTemplate>
    </ElliciumDatePicker>
</div>

@code {
    DateTime? value = DateTime.Now;
}