<div class="rz-p-12 rz-text-align-center">
    <ElliciumLabel Text="Select Time" Component="DatePickerTimeOnly" Style="margin-right: 8px; vertical-align: middle;" />
    <ElliciumDatePicker @bind-Value=@value ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Name="DatePickerTimeOnly" />
</div>

@code {
    DateTime? value = DateTime.Now;
}