<h3>DialogSideContent</h3>

<p>
    Side Dialog
</p>

<ElliciumButton Size="ButtonSize.ExtraSmall" Text="Close Side Dialog" Click="@(_ => Service.CloseSide())" />

@code {
    [Inject] DialogService Service { get; set; }

}
