<ElliciumStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Class="icon-preview rz-p-12">
    <div><ElliciumIcon Icon="facebook" /><span>facebook</span></div>
    <div><ElliciumIcon Icon="accessibility" /><span>accessibility</span></div>
    <div><ElliciumIcon Icon="3d_rotation" /><span>3d_rotation</span></div>
    <div><ElliciumIcon Icon="accessible" /><span>accessible</span></div>
    <div><ElliciumIcon Icon="account_balance" /><span>account_balance</span></div>
    <div><ElliciumIcon Icon="account_balance_wallet" /><span>account_balance_wallet</span></div>
    <div><ElliciumIcon Icon="account_box" /><span>account_box</span></div>
    <div><ElliciumIcon Icon="account_circle" /><span>account_circle</span></div>
    <div><ElliciumIcon Icon="add_shopping_cart" /><span>add_shopping_cart</span></div>
    <div><ElliciumIcon Icon="alarm" /><span>alarm</span></div>
    <div><ElliciumIcon Icon="alarm_add" /><span>alarm_add</span></div>
    <div><ElliciumIcon Icon="alarm_off" /><span>alarm_off</span></div>
    <div><ElliciumIcon Icon="alarm_on" /><span>alarm_on</span></div>
    <div><ElliciumIcon Icon="all_out" /><span>all_out</span></div>
    <div><ElliciumIcon Icon="android" /><span>android</span></div>
    <div><ElliciumIcon Icon="announcement" /><span>announcement</span></div>
    <div><ElliciumIcon Icon="aspect_ratio" /><span>aspect_ratio</span></div>
    <div><ElliciumIcon Icon="assessment" /><span>assessment</span></div>
    <div><ElliciumIcon Icon="assignment" /><span>assignment</span></div>
    <div><ElliciumIcon Icon="assignment_ind" /><span>assignment_ind</span></div>
    <div><ElliciumIcon Icon="assignment_late" /><span>assignment_late</span></div>
    <div><ElliciumIcon Icon="assignment_return" /><span>assignment_return</span></div>
    <div><ElliciumIcon Icon="assignment_returned" /><span>assignment_returned</span></div>
    <div><ElliciumIcon Icon="assignment_turned_in" /><span>assignment_turned_in</span></div>
    <div><ElliciumIcon Icon="autorenew" /><span>autorenew</span></div>
    <div><ElliciumIcon Icon="backup" /><span>backup</span></div>
    <div><ElliciumIcon Icon="book" /><span>book</span></div>
    <div><ElliciumIcon Icon="bookmark" /><span>bookmark</span></div>
    <div><ElliciumIcon Icon="bookmark_border" /><span>bookmark_border</span></div>
    <div><ElliciumIcon Icon="bug_report" /><span>bug_report</span></div>
    <div><ElliciumIcon Icon="build" /><span>build</span></div>
    <div><ElliciumIcon Icon="cached" /><span>cached</span></div>
    <div><ElliciumIcon Icon="camera_enhance" /><span>camera_enhance</span></div>
    <div><ElliciumIcon Icon="card_giftcard" /><span>card_giftcard</span></div>
    <div><ElliciumIcon Icon="card_membership" /><span>card_membership</span></div>
    <div><ElliciumIcon Icon="card_travel" /><span>card_travel</span></div>
    <div><ElliciumIcon Icon="change_history" /><span>change_history</span></div>
    <div><ElliciumIcon Icon="check_circle" /><span>check_circle</span></div>
    <div><ElliciumIcon Icon="chrome_reader_mode" /><span>chrome_reader_mode</span></div>
    <div><ElliciumIcon Icon="class" /><span>class</span></div>
    <div><ElliciumIcon Icon="code" /><span>code</span></div>
    <div><ElliciumIcon Icon="compare_arrows" /><span>compare_arrows</span></div>
    <div><ElliciumIcon Icon="copyright" /><span>copyright</span></div>
    <div><ElliciumIcon Icon="credit_card" /><span>credit_card</span></div>
    <div><ElliciumIcon Icon="dashboard" /><span>dashboard</span></div>
    <div><ElliciumIcon Icon="date_range" /><span>date_range</span></div>
    <div><ElliciumIcon Icon="delete" /><span>delete</span></div>
    <div><ElliciumIcon Icon="delete_forever" /><span>delete_forever</span></div>
    <div><ElliciumIcon Icon="description" /><span>description</span></div>
    <div><ElliciumIcon Icon="dns" /><span>dns</span></div>
    <div><ElliciumIcon Icon="done" /><span>done</span></div>
    <div><ElliciumIcon Icon="done_all" /><span>done_all</span></div>
    <div><ElliciumIcon Icon="donut_large" /><span>donut_large</span></div>
    <div><ElliciumIcon Icon="donut_small" /><span>donut_small</span></div>
    <div><ElliciumIcon Icon="eject" /><span>eject</span></div>
    <div><ElliciumIcon Icon="euro_symbol" /><span>euro_symbol</span></div>
    <div><ElliciumIcon Icon="event" /><span>event</span></div>
    <div><ElliciumIcon Icon="event_seat" /><span>event_seat</span></div>
    <div><ElliciumIcon Icon="exit_to_app" /><span>exit_to_app</span></div>
    <div><ElliciumIcon Icon="explore" /><span>explore</span></div>
    <div><ElliciumIcon Icon="extension" /><span>extension</span></div>
    <div><ElliciumIcon Icon="face" /><span>face</span></div>
    <div><ElliciumIcon Icon="favorite" /><span>favorite</span></div>
    <div><ElliciumIcon Icon="favorite_border" /><span>favorite_border</span></div>
    <div><ElliciumIcon Icon="feedback" /><span>feedback</span></div>
    <div><ElliciumIcon Icon="find_in_page" /><span>find_in_page</span></div>
    <div><ElliciumIcon Icon="find_replace" /><span>find_replace</span></div>
    <div><ElliciumIcon Icon="fingerprint" /><span>fingerprint</span></div>
    <div><ElliciumIcon Icon="flight_land" /><span>flight_land</span></div>
    <div><ElliciumIcon Icon="flight_takeoff" /><span>flight_takeoff</span></div>
    <div><ElliciumIcon Icon="flip_to_back" /><span>flip_to_back</span></div>
    <div><ElliciumIcon Icon="flip_to_front" /><span>flip_to_front</span></div>
    <div><ElliciumIcon Icon="g_translate" /><span>g_translate</span></div>
    <div><ElliciumIcon Icon="gavel" /><span>gavel</span></div>
    <div><ElliciumIcon Icon="get_app" /><span>get_app</span></div>
    <div><ElliciumIcon Icon="gif" /><span>gif</span></div>
    <div><ElliciumIcon Icon="grade" /><span>grade</span></div>
    <div><ElliciumIcon Icon="group_work" /><span>group_work</span></div>
    <div><ElliciumIcon Icon="help" /><span>help</span></div>
    <div><ElliciumIcon Icon="help_outline" /><span>help_outline</span></div>
    <div><ElliciumIcon Icon="highlight_off" /><span>highlight_off</span></div>
    <div><ElliciumIcon Icon="history" /><span>history</span></div>
    <div><ElliciumIcon Icon="home" /><span>home</span></div>
    <div><ElliciumIcon Icon="hourglass_empty" /><span>hourglass_empty</span></div>
    <div><ElliciumIcon Icon="hourglass_full" /><span>hourglass_full</span></div>
    <div><ElliciumIcon Icon="http" /><span>http</span></div>
    <div><ElliciumIcon Icon="https" /><span>https</span></div>
    <div><ElliciumIcon Icon="input" /><span>input</span></div>
    <div><ElliciumIcon Icon="invert_colors" /><span>invert_colors</span></div>
    <div><ElliciumIcon Icon="label" /><span>label</span></div>
    <div><ElliciumIcon Icon="label_outline" /><span>label_outline</span></div>
    <div><ElliciumIcon Icon="language" /><span>language</span></div>
    <div><ElliciumIcon Icon="launch" /><span>launch</span></div>
    <div><ElliciumIcon Icon="lightbulb_outline" /><span>lightbulb_outline</span></div>
    <div><ElliciumIcon Icon="line_style" /><span>line_style</span></div>
    <div><ElliciumIcon Icon="line_weight" /><span>line_weight</span></div>
    <div><ElliciumIcon Icon="list" /><span>list</span></div>
    <div><ElliciumIcon Icon="lock" /><span>lock</span></div>
    <div><ElliciumIcon Icon="lock_open" /><span>lock_open</span></div>
    <div><ElliciumIcon Icon="lock_outline" /><span>lock_outline</span></div>
    <div><ElliciumIcon Icon="loyalty" /><span>loyalty</span></div>
    <div><ElliciumIcon Icon="markunread_mailbox" /><span>markunread_mailbox</span></div>
    <div><ElliciumIcon Icon="motorcycle" /><span>motorcycle</span></div>
    <div><ElliciumIcon Icon="note_add" /><span>note_add</span></div>
    <div><ElliciumIcon Icon="offline_pin" /><span>offline_pin</span></div>
    <div><ElliciumIcon Icon="opacity" /><span>opacity</span></div>
    <div><ElliciumIcon Icon="open_in_browser" /><span>open_in_browser</span></div>
    <div><ElliciumIcon Icon="open_in_new" /><span>open_in_new</span></div>
    <div><ElliciumIcon Icon="open_with" /><span>open_with</span></div>
    <div><ElliciumIcon Icon="pageview" /><span>pageview</span></div>
</ElliciumStack>
<style>
    .icon-preview div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 120px;
    }
    .icon-preview span {
        color: var(--rz-text-disabled-color);
        font-size: 0.75rem;
    }
</style>