@using Ellicium
@using System.Text.Json

<div class="container my-4">
    <div class="row">
        <div class="col">
            <ElliciumCard class="w-100 mb-4" >
            <ElliciumCheckBox @bind-Value=@popup Name="popup"></ElliciumCheckBox>
                <ElliciumLabel Text="Display validators as popup" Component="popup" Style="margin-left: 8px; vertical-align: middle;" />
            </ElliciumCard>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <ElliciumTemplateForm TItem="Model" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
                <ElliciumFieldset Text="Personal information">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <ElliciumLabel Text="First Name" Component="FirstName" />
                            <small style="display: block">(3-10 characters)</small>
                        </div>
                        <div class="col">
                            <ElliciumTextBox style="display: block" Name="FirstName" @bind-Value=@model.FirstName class="w-100" />
                            <ElliciumLengthValidator Component="FirstName" Min="3" Text="First name should be at least 3 characters" Popup=@popup Style="position: absolute" />
                            <ElliciumLengthValidator Component="FirstName"  Max="10" Text="First name should be at most 10 characters" Popup=@popup Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <ElliciumLabel Text="Last Name" Component="LastName" />
                            <small style="display: block">(3-10 characters)</small>
                        </div>
                        <div class="col">
                            <ElliciumTextBox style="display: block" Name="LastName" @bind-Value=@model.LastName class="w-100" />
                            <ElliciumLengthValidator Component="LastName" Min="3" Text="Last name should be at least 3 characters" Popup=@popup Style="position: absolute" />
                            <ElliciumLengthValidator Component="LastName"  Max="10" Text="Last name should be at most 10 characters" Popup=@popup Style="position: absolute" />
                        </div>
                    </div>
                    <ElliciumButton ButtonType="ButtonType.Submit" Text="Submit"></ElliciumButton>
                </ElliciumFieldset>
            </ElliciumTemplateForm>
        </div>
    </div>
</div>

<EventConsole @ref=@console />

@code {
    class Model
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    bool popup;

    Model model = new Model();
    EventConsole console;

    void OnSubmit(Model model)
    {
        console.Log($"Submit: {JsonSerializer.Serialize(model, new JsonSerializerOptions() {  WriteIndented = true })}");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        console.Log($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() {  WriteIndented = true })}");
    }
}