<div class="rz-p-12 rz-text-align-center">
    <ElliciumLink Path="https://www.Ellicium.com" Text="Go to url" target="_blank">
        <ElliciumImage Path="https://www.Ellicium.com/assets/Ellicium-logo-top-b2d6e9dcacf7d344bbab515b8748c5f4d702c6c5bfc349bd9ff9003016a3a6ee.svg" Style="width: 50%">
        </ElliciumImage>
    </ElliciumLink>
</div>