<div class="rz-p-12 rz-text-align-center">
    <ElliciumRadioButtonList @bind-Value=@value TValue="int?" class="mb-5">
        <Items>
            <ElliciumRadioButtonListItem Text="Orders" Value="1" TValue="int?" />
            <ElliciumRadioButtonListItem Text="Employees" Value="2" TValue="int?" />
            <ElliciumRadioButtonListItem Text="Customers" Value="3" TValue="int?" />
        </Items>
    </ElliciumRadioButtonList>
</div>

@code {
    int? value;
}