@inject NotificationService NotificationService
<div class="container-fluid splitbutton-demo">
    <div class="row mb-4">
        <div class="col">
            <ElliciumText TextStyle="TextStyle.H6" TagName="TagName.H3">Filled</ElliciumText>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Secondary">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Info">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Success">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Warning">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Danger">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>

            <ElliciumText TextStyle="TextStyle.Subtitle1" TagName="TagName.H4" class="my-3">Filled Shades</ElliciumText>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" Shade="Shade.Lighter">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Lighter">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Info" Shade="Shade.Lighter">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Success" Shade="Shade.Lighter">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Lighter">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Danger" Shade="Shade.Lighter">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <br />
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" Shade="Shade.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Info" Shade="Shade.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Success" Shade="Shade.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Danger" Shade="Shade.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <br />
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" Shade="Shade.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Danger" Shade="Shade.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <br />
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" Shade="Shade.Darker">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Darker">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Info" Shade="Shade.Darker">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Success" Shade="Shade.Darker">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Darker">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Danger" Shade="Shade.Darker">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <br />


            <ElliciumText TextStyle="TextStyle.Subtitle1" TagName="TagName.H4" class="mt-3 mb-0">Filled Light and Dark</ElliciumText>
            <ElliciumText TextStyle="TextStyle.Body2" class="mb-3">Light and Dark button styles don't have Shades</ElliciumText>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Light">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
            <ElliciumSplitButton Click=@(args => OnClick(args, "SplitButton with text")) Text="SplitButton" ButtonStyle="ButtonStyle.Dark">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>
        </div>
    </div>
</div>

@code {
    void OnClick(ElliciumSplitButtonItem item, string buttonName)
    {
        if (item != null)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "SplitButton Item Clicked", Detail = $"{buttonName}, item with value {item.Value} clicked" });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "SplitButton Clicked", Detail = $"{buttonName} clicked" });
        }
    }
}
