@inject NotificationService NotificationService
<div class="container-fluid splitbutton-demo">
    <div class="row mb-4">
        <div class="col">
            <ElliciumText TextStyle="TextStyle.H6" TagName="TagName.H3">Always open popup with items on click</ElliciumText>
            <ElliciumSplitButton Click=@(args => OnClick(args, "Opened SplitButton")) AlwaysOpenPopup=true Text="SplitButton">
                <ChildContent>
                    <ElliciumSplitButtonItem Text="Item1" Value="1" />
                    <ElliciumSplitButtonItem Text="Item2" Value="2" />
                </ChildContent>
            </ElliciumSplitButton>

        </div>
    </div>
</div>

@code {
    void OnClick(ElliciumSplitButtonItem item, string buttonName)
    {
        if (item != null)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "SplitButton Item Clicked", Detail = $"{buttonName}, item with value {item.Value} clicked" });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "SplitButton Clicked", Detail = $"{buttonName} clicked" });
        }
    }
}
