<ElliciumSplitter Orientation="Orientation.Vertical" Collapse=@OnCollapse Expand=@OnExpand style="height: 400px; border: 1px solid rgba(0,0,0,.08);">
    <ElliciumSplitterPane Size="100px">
        <ElliciumSplitter Collapse=@OnCollapse Expand=@OnExpand>
            <ElliciumSplitterPane Size="50%" Min="30px" Max="70%">
                Pane A1
                <div style="font-size: 10px;">
                    50% Min 30px Max 70%
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane>
                Pane A2
            </ElliciumSplitterPane>
        </ElliciumSplitter>
    </ElliciumSplitterPane>
    <ElliciumSplitterPane Size="100px">
        <ElliciumSplitter Collapse=@OnCollapse Expand=@OnExpand Resize=@OnResize>
            <ElliciumSplitterPane Size="50px" Min="30px">
                Pane B1
                <div style="font-size: 10px;">
                    Size 50px Min 30px
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane>
                Pane B2
            </ElliciumSplitterPane>
            <ElliciumSplitterPane Resizable="false">
                Pane B3
                <div style="font-size: 10px;">
                    not resizable
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane Min="10%">
                Pane B4
                <div style="font-size: 10px;">
                    Min 10%
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane Collapsible="false">
                Pane B5
                <div style="font-size: 10px;">
                    not collapsible
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane Visible="false">
                Pane B6
            </ElliciumSplitterPane>
            <ElliciumSplitterPane Resizable="false">
                Pane B7
                <div style="font-size: 10px;">
                    not resizable
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane>
                Pane B8
            </ElliciumSplitterPane>
        </ElliciumSplitter>
    </ElliciumSplitterPane>
    <ElliciumSplitterPane>
        <ElliciumSplitter Collapse=@OnCollapseDisabled Resize=@OnResizeDisabled>
            <ElliciumSplitterPane>
                Pane C1
                <div style="font-size: 10px;">
                    collapse and resize programmatically disabled
                </div>
            </ElliciumSplitterPane>
            <ElliciumSplitterPane>
                Pane C2
                <div style="font-size: 10px;">
                    collapse and resize programmatically disabled
                </div>
            </ElliciumSplitterPane>
        </ElliciumSplitter>
    </ElliciumSplitterPane>
</ElliciumSplitter>

<EventConsole @ref=@console/>

@code {
    EventConsole console;

    void OnCollapse(ElliciumSplitterEventArgs args)
    {
        console.Log($"Pane {args.PaneIndex} Collapse");
    }

    void OnExpand(ElliciumSplitterEventArgs args)
    {
        console.Log($"Pane {args.PaneIndex} Expand");
    }

    void OnResize(ElliciumSplitterResizeEventArgs args)
    {
        console.Log($"Pane {args.PaneIndex} Resize (New size {args.NewSize})");
    }

    void OnCollapseDisabled(ElliciumSplitterEventArgs args)
    {
        args.Cancel = true;
        console.Log($"Pane {args.PaneIndex} Collapse programmatically disabled");
    }

    void OnResizeDisabled(ElliciumSplitterResizeEventArgs args)
    {
        args.Cancel = true;
        console.Log($"Pane {args.PaneIndex} Resize (New size {args.NewSize}) programmatically disabled");
    }

}