<div class="rz-p-12">
    <ElliciumText TextStyle="TextStyle.H1">Ellicium Heading 1</ElliciumText>
    <ElliciumText TextStyle="TextStyle.H2">Ellicium Heading 2</ElliciumText>
    <ElliciumText TextStyle="TextStyle.H3">Ellicium Heading 3</ElliciumText>
    <ElliciumText TextStyle="TextStyle.H4">Ellicium Heading 4</ElliciumText>
    <ElliciumText TextStyle="TextStyle.H5">Ellicium Heading 5</ElliciumText>
    <ElliciumText TextStyle="TextStyle.H6">Ellicium Heading 6</ElliciumText>
    <ElliciumText TextStyle="TextStyle.Subtitle1">Ellicium Subtitle 1</ElliciumText>
    <ElliciumText TextStyle="TextStyle.Subtitle2">Ellicium Subtitle 2</ElliciumText>
    <ElliciumText TextStyle="TextStyle.Body1">
        <strong>Ellicium Body 1</strong> Ellicium Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
    </ElliciumText>
    <ElliciumText TextStyle="TextStyle.Body2">
        <strong>Ellicium Body 2</strong> Ellicium Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
    </ElliciumText>
    <ElliciumText TextStyle="TextStyle.Button">Ellicium Button</ElliciumText><br />
    <ElliciumText TextStyle="TextStyle.Caption">Ellicium Caption</ElliciumText><br />
    <ElliciumText TextStyle="TextStyle.Overline">Ellicium Overline</ElliciumText><br />
</div>