<div class="rz-p-12">
    <ElliciumText TextStyle="TextStyle.DisplayH1">Ellicium Display 1</ElliciumText>
    <ElliciumText TextStyle="TextStyle.DisplayH2">Ellicium Display 2</ElliciumText>
    <ElliciumText TextStyle="TextStyle.DisplayH3">Ellicium Display 3</ElliciumText>
    <ElliciumText TextStyle="TextStyle.DisplayH4">Ellicium Display 4</ElliciumText>
    <ElliciumText TextStyle="TextStyle.DisplayH5">Ellicium Display 5</ElliciumText>
    <ElliciumText TextStyle="TextStyle.DisplayH6">Ellicium Display 6</ElliciumText>
</div>